#!/bin/bash

token='{{ developer_token }}'
filename='{{ app_domain }}.tgz'
url='{{ cert_server }}/{{ app_domain }}'

curl -s -H "Accept: application/json" -H "Authorization: Bearer $token" -J -O $url

if [[ -f "$filename" ]]; then

  tar -xzf "$filename"
  rm "$filename"

else

  echo "Unable to download Certificates"
  exit 1;

fi
