#!/bin/bash

cert_root='{{ cert_root }}'
cert_dir='{{ cert_dir }}'
ssl_root='{{ ssl_root }}'

cd "$cert_root"

/usr/local/bin/fetch-certificates

if [[ $? -eq 0 ]]; then
  cp -r "$cert_dir" "$ssl_root"
  service {{ httpd_service }} restart
fi
